* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #02010a;
    font-family: 'Dancing Script', cursive;
}
header {
    color: white;
    background: #5b7989;
    border-radius: 10px 10px 0 0;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    -webkit-filter: drop-shadow(2px 2px 2px #02010a);
    filter: drop-shadow(2px 2px 2px #02010a);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 5px;
}

nav ul li a {
    color: white;
}

.nav-active {
    text-decoration: none;
}

.contenido {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}


footer {
    background: #C6d5c5;
    border-radius: 0 0 10px 10px;
    color: #02010a;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

footer h3 {
    font-size: 1.5em;
}

footer ul {
    max-width: 20%;
}

footer ul li {
    list-style: none;
}

footer a {
    color: #02010a;
    text-decoration: none;
}