* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #02010a;
    font-family: 'Dancing Script', cursive;
}

header {
    color: white;
    background: #5b7989;
    border-radius: 10px 10px 0 0;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    -webkit-filter: drop-shadow(2px 2px 2px #02010a);
    filter: drop-shadow(2px 2px 2px #02010a);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 5px;
}

nav ul li a {
    color: white;
}


/* INICIA CONTENIDO DE LA PAGINA WEB */
.contenido {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.imgs_sec img,
.img_central img {
    box-shadow: 2px 2px 2px #02010a;
    width: 100%;
    height: auto;
}

.nav-active {
    text-decoration: none;
}

.img_central {
    width: 100%;
    background: #82c3a6;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_central img {
    width: 90%;
}

.imgs_sec {
    background: #d5c75f;
    padding: 3%;
    display: flex;
    justify-content: space-around;
}
.imgs_sec a {
    display: block;
    width: 40%;
    text-align: center;
    color: #02010a;
    font-weight: bold;
}

/* TERMINA CONTENIDO PAGINA WEB */


footer {
    background: #C6d5c5;
    border-radius: 0 0 10px 10px;
    color: #02010a;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

footer h3 {
    font-size: 1.5em;
}

footer ul {
    max-width: 23%;
}

footer ul li {
    list-style: none;
    margin-top: 10px;
}

footer a {
    color: #02010a;
    text-decoration: none;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 899px){

    header{
        padding: 5px;
        flex-direction: column;
        justify-content: space-around;
    }
    header h1 {
        font-size: 1.6em;
        text-align: center;
    }

    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer h3{
        text-align: center;
    }
    footer ul {
        width: 100%;
        max-width: 480px;
        padding: 5px;
    }
    
    .imgs_sec{
        flex-direction: column;
    }
    .imgs_sec a {
        width: 100%;
        margin-top: 20px;
    }
}